{% if theme.twitter %}
<section>
    <h1>Latest Tweets</h1>
    <ul id="tweets">
        <li class="loading">Status updating&#8230;</li>
    </ul>
    <a href="https://twitter.com/{{theme.twitter.user}}" class="twitter-follow-button" data-show-count="false">Follow @{{theme.twitter.user}}</a>
    <script type="text/javascript">
        seajs.use('twitter', function(twitter) {
            twitter('{{theme.twitter.user}}').show({limit: {{theme.twitter.limit}}});
        });
    </script>
</section>
{% endif %}
