@import url(//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic);
@import url(//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic);

#repos span {
    color: #a4a4a4;
    float: right;
    text-shadow: white 0 1px;
    font-size: .7em;
}

.highlight pre {
    font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace !important;
    overflow: scroll;
    overflow-y: hidden;
    display: block;
    padding: .8em !important;
    overflow-x: auto;
    line-height: 1.45em;
    background: #002b36 url('/images/noise.png?1333006082') top left !important;
    color: #93a1a1 !important;
}
.highlight pre::-moz-selection {
    background: #386774;
    color: inherit;
    text-shadow: #002b36 0 1px;
}
.highlight pre::selection {
    background: #386774;
    color: inherit;
    text-shadow: #002b36 0 1px;
}
.highlight pre span { color: #93a1a1 !important }
.highlight pre span {
    font-style: normal !important;
    font-weight: normal !important;
}
.highlight pre .c {
    color: #586e75 !important;
    font-style: italic !important;
}
.highlight pre .cm {
    color: #586e75 !important;
    font-style: italic !important;
}
.highlight pre .cp {
    color: #586e75 !important;
    font-style: italic !important;
}
.highlight pre .c1 {
    color: #586e75 !important;
    font-style: italic !important;
}
.highlight pre .cs {
    color: #586e75 !important;
    font-weight: bold !important;
    font-style: italic !important;
}
.highlight pre .err {
    color: #dc322f !important;
    background: none !important;
}
.highlight pre .k { color: #cb4b16 !important }
.highlight pre .o {
    color: #93a1a1 !important;
    font-weight: bold !important;
}
.highlight pre .p { color: #93a1a1 !important }
.highlight pre .ow {
    color: #2aa198 !important;
    font-weight: bold !important;
}
.highlight pre .gd {
    color: #93a1a1 !important;
    background-color: #372c34 !important;
    display: inline-block;
}
.highlight pre .gd .x {
    color: #93a1a1 !important;
    background-color: #4d2d33 !important;
    display: inline-block;
}
.highlight pre .ge {
    color: #93a1a1 !important;
    font-style: italic !important;
}
.highlight pre .gh { color: #586e75 !important }
.highlight pre .gi {
    color: #93a1a1 !important;
    background-color: #1a412b !important;
    display: inline-block;
}
.highlight pre .gi .x {
    color: #93a1a1 !important;
    background-color: #355720 !important;
    display: inline-block;
}
.highlight pre .gs {
    color: #93a1a1 !important;
    font-weight: bold !important;
}
.highlight pre .gu { color: #6c71c4 !important }
.highlight pre .kc {
    color: #859900 !important;
    font-weight: bold !important;
}
.highlight pre .kd { color: #268bd2 !important }
.highlight pre .kp {
    color: #cb4b16 !important;
    font-weight: bold !important;
}
.highlight pre .kr {
    color: #d33682 !important;
    font-weight: bold !important;
}
.highlight pre .kt { color: #2aa198 !important }
.highlight pre .bp { color: #268bd2 !important }
.highlight pre .na { color: #268bd2 !important }
.highlight pre .nb { color: #859900 !important }
.highlight pre .nc { color: #d33682 !important }
.highlight pre .no { color: #b58900 !important }
.highlight pre .nl { color: #859900 !important }
.highlight pre .ne {
    color: #268bd2 !important;
    font-weight: bold !important;
}
.highlight pre .nf {
    color: #268bd2 !important;
    font-weight: bold !important;
}
.highlight pre .nn { color: #b58900 !important }
.highlight pre .nt {
    color: #268bd2 !important;
    font-weight: bold !important;
}
.highlight pre .nx { color: #b58900 !important }
.highlight pre .vg { color: #268bd2 !important }
.highlight pre .vi { color: #268bd2 !important }
.highlight pre .nv { color: #268bd2 !important }
.highlight pre .mf { color: #2aa198 !important }
.highlight pre .m { color: #2aa198 !important }
.highlight pre .mh { color: #2aa198 !important }
.highlight pre .mi { color: #2aa198 !important }
.highlight pre .s { color: #2aa198 !important }
.highlight pre .sd { color: #2aa198 !important }
.highlight pre .s2 { color: #2aa198 !important }
.highlight pre .se { color: #dc322f !important }
.highlight pre .si { color: #268bd2 !important }
.highlight pre .sr { color: #2aa198 !important }
.highlight pre .s1 { color: #2aa198 !important }
.highlight pre div .gd,
.highlight pre div .gd .x,
.highlight pre div .gi,
.highlight pre div .gi .x {
    display: inline-block;
    width: 100%;
}
