@import url(//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic)
@import url(//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic)
#repos span {
    color: #a4a4a4;
    float: right;
    text-shadow: white 0 1px;
    font-size: .7em;
}
